// ===== modules ===== //
.headerWrapper {
    .headerBtn {

    }
}


// ===== common ===== //
body {
    font-family: 'Droid Sans Mono', monospace;
}
.mainWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

span {
    &.red {
        color: red;
    }
    &.green {
        color: green;
    }
    &.blue {
        color: blue;
    }
}

.choice-box{
    .color-choice {
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: 100px;
        margin: 5px;
        border: none;
        border-radius: 100px;
    }
}
