// ===== modules ===== //
.headerWrapper {
    ul {
        z-index: 10;
        position: fixed;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        top: 0;
        overflow: hidden;
        background-color: #333;
    }
    li {
        cursor: pointer;
        float: left;
        p {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        &.center {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        &.right {
            float: right;
        }
    }
}


// ===== common ===== //
body {
    font-family: 'Droid Sans Mono', monospace;
    letter-spacing: 5px;
    margin: 0;
}
.mainWrapper {
    position: relative;
    margin-top: 100px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    &.center {
        position: fixed;
        margin-top: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
.fullWidthWrapper {
    position: relative;
    margin-top: 100px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    &.center {
        position: fixed;
        margin-top: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
span {
    &.red {
        color: red;
    }
    &.green {
        color: green;
    }
    &.blue {
        color: blue;
    }
}
.choice-box {
    .color-choice {
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: 100px;
        margin: 5px;
        border: none;
        border-radius: 100px;
    }
}
.mainBtn {
    &.large {
        border-width: 5px;
        padding: 20px;
    }
    &.medium {
        border-width: 3px;
        padding: 10px;
    }
    &.center {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    border-color: #333;
    background-color: #333;
    color: white;
    border-radius: 0;
    border-width: 5px;
    padding: 20px;
    font-family: inherit;
    font-size: 1.2em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    &:hover {
        background-color: white;
        color: #333;
    }
}

.nextBtn {
    cursor: pointer;
    float: right;
    &::after {
        margin-left: 10px;
        font-family: FontAwesome;
        content: '\f105'
    }
}

.prevBtn {
    cursor: pointer;
    float: left;
    margin: 30px 0 100px 0;
    &::before {
        margin-right: 10px;
        font-family: FontAwesome;
        content: '\f104'
    }
}

// ===== title ===== //
.title {
    font-size: 7em;
    margin: 0;
    letter-spacing: 10px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    &::selection {
        background-color: white;
    }
}
.titleBtn {
    margin-top: 30px;
}

// ===== index ===== //
.indexList {
    display: inline-block;
    margin-top: 20px;
    .indexItem {
        float: left;
        width: 200px;
        height: 200px;
        margin: 5px;
        text-align: center;
        line-height: 200px;
        border-radius: 50%;
        -webkit-transition-duration: 0.3s; /* Safari */
        transition-duration: 0.3s;
        &.unlocked {
            color: white;
            background-color: black;
            border: 5px solid black;
            cursor: pointer;
            &:hover {
                background-color: white;
                color: black;
                -webkit-transition-duration: 0.3s; /* Safari */
                transition-duration: 0.3s;
            }
        }
        &.locked {
            color: white;
            background-color: gray;
            border: 5px solid gray;
            opacity: 0.5;
            &:hover {
                opacity: 0.7;
                -webkit-transition-duration: 0.3s; /* Safari */
                transition-duration: 0.3s;
            }
            .labelText::after {
                margin-left: 5px;
                font-family: FontAwesome;
                content: '\f023'
            }
        }
    }
}

// ===== text ===== //
.mdZone {
    letter-spacing: normal;
    h1 {
        border-radius: 5px;
        background-color: lightgray;
        padding: 10px 15px;
    }
    h2 {
        margin-top: 30px;
        &::before {
            margin-right: 5px;
            font-family: FontAwesome;
            content: "\f101";
        }
    }
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        padding: 10px 0;
    }
    table {
        border: 1px solid gray;
        border-collapse: collapse;
        th {
            border: 1px solid gray;
        }
        td {
            padding: 5px;
            border: 1px solid gray;
        }
    }
}

// ===== quiz / pre-test ===== //
.questionsWrapper {
    ul {
        padding-left: 20px;
    }
    li {
        margin-top: 10px;
        list-style: none;
        label {
            cursor: pointer;
        }
    }
    input {
        margin-right: 10px;
    }
    .sectionItem {
        border-top: 1px solid lightgray;
        h2 {
            &::before {
                margin-right: 5px;
                font-family: FontAwesome;
                content: "\f101";
            }
        }
    }
    &.marked{
        .secCorrectCnt {
            margin-left: 30px;
        }
        .question {
            &.correct {
                &::after {
                    color: green;
                    margin-left: 10px;
                    font-family: FontAwesome;
                    content: '\f10c'
                }
            }
            &.wrong {
                &::after {
                    color: red;
                    margin-left: 10px;
                    font-family: FontAwesome;
                    content: '\f00d'
                }
            }
        }
        .radioItem {
            &.correct {
                font-weight: bold;
                color: green;
            }
            &.wrong {
                text-decoration: line-through;
            }
            &.correctAns {
                font-weight: bold;
                color: red;
            }
        }
        .scoreText {
            padding: 20px;
            text-align: center;
            background-color: lightgray;
        }
    }
}

// ===== about ===== //
.LOMtable {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    th {
        width: 20%;
        border: 1px solid black;
    }
    td {
        text-align: left;
        padding: 10px;
        border: 1px solid black;
    }
}
