// ===== modules ===== //
.headerWrapper {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    li {
        float: left;
        p{
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        &.right{
            float: right;
        }
    }
}


// ===== common ===== //
body {
    font-family: 'Droid Sans Mono', monospace;
}
.mainWrapper {
    position: fixed;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    &.center{
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

span {
    &.red {
        color: red;
    }
    &.green {
        color: green;
    }
    &.blue {
        color: blue;
    }
}

.choice-box{
    .color-choice {
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: 100px;
        margin: 5px;
        border: none;
        border-radius: 100px;
    }
}

// ===== index ===== //
.indexList {
    text-align: left;
    margin-left: 200px;
    .unlocked {
        cursor: pointer;
    }
    .locked {
        color: lightgray;
        &::after{
            margin-left: 5px;
            font-family: FontAwesome;
            content: '\f023'
        }
    }
}

// ===== text ===== //
.mdZone{
    h1{
        border-radius: 5px;
        background-color: lightgray;
        padding: 10px 15px;
    }
    h2::before{
        content: "● ";
    }
}
.nextBtn{
    cursor: pointer;
    float: right;
    margin-top: 30px;
}

// ===== about ===== //
.LOMtable{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    th{
        width: 20%;
        border: 1px solid black;
    }
    td{
        text-align: left;
        padding: 5px;
        border: 1px solid black;
    }
}
